
.close {
	color: @text_color;
	text-shadow: 0 1px alpha (#fff, 0.6);
	border-width: 0;
	box-shadow: none;
	border-color: alpha (#ffc412, 0);
}

.button-left {	
    border-radius: 50px 5px 5px 50px;

}
.button-right {	
    border-radius: 5px 50px 50px 5px;

}
.board {
	transition: all 100ms ease-out;
}

.counter {
	font: droid sans 11px; 
}
.slash {
	font: droid sans 12px; 
}

.lighton {
	text-shadow: 0 1px alpha (#fff, 0.4);
    icon-shadow: 0 1px alpha (#fff, 0.4);

    background-image: linear-gradient(to bottom,
                                  transparent,
                                  transparent 50%,
                                  alpha (#fff, 0.2)
                                  );

    border: 1px solid alpha (#000, 0.2);
    border-radius: 3.5px;

    box-shadow: inset 0 0 0 1px alpha (#fff, 0.05),
                inset 0 1px 0 0 alpha (#fff, 0.45),
                inset 0 -1px 0 0 alpha (#fff, 0.15),
                0 1px 0 0 alpha (#fff, 0.15);

    color: shade (#333, 0.8);
    transition: all 300ms ease-in;
    background-color: alpha (#ffecba, 0.9);
}

.lighton:active {
	background-color: alpha (#f1ebda, 0.7);
	transition: all 100ms ease-out;
}

.title, .text-button, titlebutton { 
	color: mix (@bg_color, #ccc, 1);
}

.header-bar-dark  {
    text-shadow: 0 1px alpha (#000, 0.4);
    icon-shadow: 0 1px alpha (#000, 0.4);

    background-image: linear-gradient(to bottom,
                                  shade (@bg_color, 0.9),
                                  shade (@bg_color, 0.9) 50%,
                                  shade (@bg_color, 0.8)
                                  );
                                  
    border-color: shade (@bg_color, 0.5);

    box-shadow: inset 0 0 0 1px alpha (#fff, 0.02),
                inset 0 1px 0 0 alpha (#fff, 0.07),
                inset 0 -1px 0 0 alpha (#fff, 0.01),
                0 1px 0 0 alpha (#fff, 0.05);

   	color: mix (@bg_color, #ccc, 1);
}
